@model WebBasedTMS.Models.TrainerRequest

@{
    ViewBag.Title = "Instructor";
    Layout = "~/Views/Shared/_MainPart.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }
</style>

<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">NEW INSTRUCTOR</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Instructor", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-alternative", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.Name, "")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MobileNumber, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control form-control-alternative", @placeholder = "Mobile Number" })
                            @Html.ValidationMessageFor(m => m.MobileNumber, "")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-alternative", @placeholder = "Email Address" })
                            @Html.ValidationMessageFor(m => m.Email, "")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "form-control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-alternative", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Qualification, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control form-control-alternative", @placeholder = "Qualification" })
                            @Html.ValidationMessageFor(m => m.Qualification, "")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Experience, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Experience, new { @class = "form-control form-control-alternative", @placeholder = "Experience", @type = "number" })
                            @Html.ValidationMessageFor(m => m.Experience, "")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Skills, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Skills, new { @class = "form-control form-control-alternative", @placeholder = "Skills" })
                            @Html.ValidationMessageFor(m => m.Skills, "")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SocialProfile, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.SocialProfile, new { @class = "form-control form-control-alternative", @placeholder = "Linked In Profile" })
                            @Html.ValidationMessageFor(m => m.SocialProfile, "")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ImageName, new { @class = "form-control-label" })
                            @Html.TextBox("img","", new { @class = "form-control form-control-alternative", @type="file" })
                            @Html.ValidationMessageFor(m => m.ImageName, "")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SignName, new { @class = "form-control-label" })
                            @Html.TextBox("img1","", new { @class = "form-control form-control-alternative", @type="file" })
                            @Html.ValidationMessageFor(m => m.SignName, "")
                        </div>
                    </div>
                </div>

            </div>

                <button class="btn btn-primary">SUBMIT</button>
            }

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
